{# templates/profile/change_password.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<h2>Change Password</h2>

{% for message in app.flashes('success') %}
<div class="alert alert-success">{{ message }}</div>
{% endfor %}
{% for message in app.flashes('danger') %}
<div class="alert alert-danger">{{ message }}</div>
{% endfor %}

{{ form_start(form) }}
    {{ form_row(form.currentPassword) }}
    {{ form_row(form.newPassword) }}
    {{ form_row(form.confirmPassword) }}
    <button class="btn btn-primary">{{ form.save.vars.label }}</button>
{{ form_end(form) }}
{% endblock %}
